.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.App {
  padding-top: 30px;
}
.print-query-code-modal {
  border: 1px solid black;
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.print-query-code-modal .print-set {
  width: 200px;
  height: 467px;
  border-right: 1px solid black;
  padding: 7px 10px 10px 10px;
  float: left;
}

.print-query-code-modal .print-set .tmp-A4 {
  margin-bottom: 10px;
  padding-left: 3px;
  border: 1px solid #a9a9a9;
}
.print-query-code-modal .print-set fieldset {
  border-width: 1px;
  padding: 7px 10px 0 10px;
}
.print-query-code-modal .print-set .name-value-text {
  border: 1px solid #a9a9a9;
  background: #ebebe4;
  height: 25px;
  line-height: 25px;
}
.print-query-code-modal .print-set div {
  margin-bottom: 5px;
}
.print-query-code-modal .print-set .icon-container {
  font-size: 18px;
  display: inline;
  position: relative;
  top: 3px;
  left: 10px;
  cursor: pointer;
}
.print-query-code-modal .print-preview-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 200px);
  background: #e4e4e4;
  overflow: auto;
}
.print-query-code-modal .print-preview {
  width: 100px;
  height: 100px;
}
.print-query-code-modal .A4-page-size {
  width: 105mm;
  height: 148.5mm;
  max-height: 148.5mm;
  background: white;
  border: 1px solid black;
  margin: 10px auto;
  overflow: hidden;
}
.print-query-code-modal .A4-page-size .A4-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.print-query-code-modal .A4-page-size .QR-code-container {
  font-size: 0;
}
.print-query-code-modal .A4-page-size p {
  text-align: center;
}
.print-query-code-modal .p1X1 img {
  width: 59mm;
  height: 59mm;
}
.print-query-code-modal .p1X1 p {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
}
.print-query-code-modal .p1X2 img {
  width: 48.88mm;
  height: 48.88mm;
}
.print-query-code-modal .p1X2 .empty-content {
  width: 48.88mm;
  height: 48.88mm;
}
.print-query-code-modal .p1X2 p {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}
.print-query-code-modal .p2X3 img {
  width: 32mm;
  height: 32mm;
}
.print-query-code-modal .p2X3 .empty-content {
  width: 32mm;
  height: 32mm;
}
.print-query-code-modal .p2X3 p {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
}
.print-query-code-modal .p3X4 img {
  width: 23.53mm;
  height: 23.53mm;
}
.print-query-code-modal .p3X4 .empty-content {
  width: 23.53mm;
  height: 23.53mm;
}
.print-query-code-modal .p3X4 p {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.print-query-code-modal .empty-container {
  opacity: 0;
}
.print-btn {
  position: relative;
  display: inline-block;
  z-index: 1000;
  left: 20px;
  top: 8px;
}

/* iframe */
.print-query-code-iframe .A4-page-size {
  width: 210mm;
  height: 297mm;
  max-height: 297mm;
  background: white;
  overflow: hidden;
}
.print-query-code-iframe .A4-page-size .A4-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.print-query-code-iframe .A4-page-size .QR-code-container {
  font-size: 0;
}
.print-query-code-iframe .A4-page-size p {
  text-align: center;
}
.print-query-code-iframe .p1X1 img {
  width: 118mm;
  height: 118mm;
}
.print-query-code-iframe .p1X1 p {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
}
.print-query-code-iframe .p1X2 img {
  width: 96mm;
  height: 96mm;
}
.print-query-code-iframe .p1X2 .empty-content {
  width: 96mm;
  height: 96mm;
}
.print-query-code-iframe .p1X2 p {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}
.print-query-code-iframe .p2X3 img {
  width: 64mm;
  height: 64mm;
}
.print-query-code-iframe .p2X3 .empty-content {
  width: 64mm;
  height: 64mm;
}
.print-query-code-iframe .p2X3 p {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
}
.print-query-code-iframe .p3X4 img {
  width: 46mm;
  height: 46mm;
}
.print-query-code-iframe .p3X4 .empty-content {
  width: 46mm;
  height: 46mm;
}
.print-query-code-iframe .p3X4 p {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.print-query-code-iframe .empty-container {
  opacity: 0;
}
